/*generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.line{
  border: 1px solid blue;
}
a{
  text-decoration: none;
  color: white;
}
body{
  color: black;
  font-family: 'Song Myung', serif;
}
.letter1{
  font-family: 'Oleo Script Swash Caps', cursive;
}
.wrap{
  word-wrap: break-word;
}

/*navbar*/
.principal{
  background-color:  #ec6568;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-light .navbar-brand{
  color: white;
}
.navbar-light .navbar-toggler{
  border-color: white;
  color: white;
}
.navbar-light .navbar-toggler-icon {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: white;
}
.circle-nav{
  width: 65px;
  height: 65px;
  border: 5px solid #fad2d1;
  background-color: #352d36;
  border-radius: 50%;
}
/*secciòn presentación*/
.coral{
  background-color: #ec6568;
  color: white;
}
.img-profile{
  background-image: url("../assets/imagenes/meli1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 45vh;
  width: 40vw;
}
.circle{
  width: 100px;
  height: 100px;
  border: 8px solid #fad2d1;
  background-color: #352d36;
  border-radius: 50%;
  position: relative;
  right: 4rem;
  top: 1rem;
}
/*efecto*/
.output {
  display:none;
}
.activ:after {
  content: '|';
}
/* Sección sobre mi*/
.gray{
  background-color: #e6e6e6;
}
/* segunda sección*/
.icon{
  font-size: 2rem;
  text-align: center;
}
/*aplicando línea laterale a los íconos*/
.icon:after {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: black;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
}
.icon:before {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: black;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
  margin-right: 10px;
}
img[alt="about"]{
  border: 6px solid white;
  width: 100%;
  height: 20vh;
  margin-top: 2rem;

}
.nav-link:hover{
  background-color: #3b323c;
  border-radius: 10px;
}
.resume{
  border-radius: 1rem;
  color: #FFF;
  background: #ef7674;
  display: block;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.resume:hover {
  box-shadow: inset 0 80px 0 0 #3b323c;
  color: white;
  border-color: #3b323c;
}
/*seccion mis habilidades*/
img[alt="icon-hablt"]{
  width: 60%;
  height: 70px;
}
img[alt="icon-hablt1"]{
  width: 90%;
  height: 80px;
}
/*sección mis logros*/
.btn-coral{
  background: #ef7674;
  border-color: #ef7674;
  color: white;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}
.btn-coral:hover{
  box-shadow: inset 0 80px 0 0 #3b323c;
  color: white;
  border-color: #3b323c;
}
a:active{
  color: white;
}
img[alt="logro"]{
  width: 100%;
  height: 35vh;
}
/*sección proyects*/
.proyect{
  background-color: #3b323c;
}
.block{
  font-size: 2rem;
  text-align: center;
  color: white;
}
.block:before {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
  margin-right: 8px;
}
.block:after{
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 100px;
  height: 5px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-bottom: 10px;
}
/*secciòn proyectos*/
img[alt="proyect"]{
  width: 100%;
  height: 45vh;
}

.borde{
  border: 3px solid white;
}
/* efecto hover en las imágenes de proyectos*/
.background{
	width: 80%;
  height: 30vh;
	margin: auto;
  position: absolute;
	z-index: 1;
	top: 0; left: 0; bottom: 100px; right: 0;
  background-color: rgba(255,255,255,0.8);
  color: rgba(0, 0, 0, 0.8);
}
.ocultar{
	display: none;
}
/*fppter*/
.icon-footer{
  color: #ef7674;
  font-size: 3.5rem;
}
.contact{
  height: 500px;
}
.mail{
  font-size: 14px;
}
/*Footer*/
footer{
  background-color:#ec6568;
  height: 60px;
  color: white;
}
/* Tablets*/
@media (min-width: 768px){
  .img-profile{
    height: 35vh;
  }
  img[alt="about"]{
    width: 200px;
    height: 180px;
    margin-top: 0rem;
    position: absolute;
    bottom: -20px;
    left: 1.5rem;
  }
  img[alt="icon-hablt"]{
    width: 50%;
  }
  img[alt="icon-hablt1"]{
    width: 70%;
  }
  img[alt="logro"]{
    height: 20vh;
  }
  img[alt="proyect"]{
    height: 30vh;
  }
  .mail{
    font-size: 16px;
  }
  .background{
    height: 25vh;

  }
  .contact{
    height: 900px;
  }
}

/* desktop*/
@media (min-width: 992px) {
  .img-profile{
    height: 100vh;
  }
  .circle{
    width: 150px;
    height: 150px;
    right: 5rem;
  }
  .circle h1{
    font-size: 4rem;
  }
  .prompt h1{
    font-size: 4rem;
  }
  img[alt="about"]{
    width: 230px;
    height: 200px;
    position: absolute;
    left: 3rem;
  }
  img[alt="icon-hablt"]{
    width: 30%;
  }
  img[alt="icon-hablt1"]{
    width: 40%;
  }
  img[alt="logro"]{
    width: 100%;
    height: 40vh;
  }
  img[alt="proyect"]{
    height: 70vh;
  }
  .background{
  	width: 80%;
    height: 60vh;
  }
  .contact{
    height: 300px;
  }
 }
