*{
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.line{
  border: 1px solid blue;
}
body{
  color: white;
  font-family: 'Pacifico', cursive;

}
.principal{
  margin-bottom: 0px;
}

.img-profile{
  background-image: url("../assets/imagenes/meli1.jpg");
  background-size: cover;
  height: 41vh;

}

.black{
background-color: #ec6568;
}

 .name{
  margin-top: 4rem;

}
.block-info{

  padding-bottom: 10rem;

}
/* efecto para la presentación*/
.block-info h2{
  white-space: nowrap;
  overflow: hidden;
  width: 25em;
  animation: type 4s steps(60, end);

}

.block-info h2:nth-child(2){
  animation: type2 8s steps(60, end);
    font-size: 28px;
}

p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
/* pulso a la raya*/
@keyframes blink{
  to{opacity: .0;}
}


/*
section{
background: linear-gradient(to bottom, red 50%, white 50%);
border: 1px solid red;

}
*/
@media (min-width: 992px){
  .img-profile{
    height: 80vh;
  }
  .block-info{
    padding-bottom:34rem;
  }
  .block-info h2{
    width: 8em;
  }
  .block-info h2:nth-child(2){
    width: 10em;

  }
  .name{
    font-size: 8rem;
    border: 1px solid red;
  }
  }
